---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Layout from "#layouts/Layout.astro";
import Pagination from "#widgets/Pagination.astro";
import Single from "#components/painting/Single.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const paintings = (await getCollection("painting")).sort(
    (a, b) => b.data.year.valueOf() - a.data.year.valueOf(),
  );

  return paginate(paintings, { pageSize: 25 });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<Layout
  title={`Peinture. Page ${page.currentPage} of ${page.lastPage}. - Roland Potin Eizner`}
>
  <section class="container mx-auto h-full">
    <h1
      class="mb-5 snap-start self-start pt-5 text-center text-2xl font-bold md:mb-10 md:pt-10 lg:text-3xl"
    >
      Bienvenue dans ma galerie
    </h1>
    <div class="my-5 self-start">
      <Pagination page={page} />
    </div>
    {
      page.data.map((painting, index) => {
        const loading = index < 2 ? "eager" : "lazy";
        return <Single painting={painting.data} loading={loading} />;
      })
    }
    <div class="snap-start self-start pb-5" id="pagination-footer">
      <Pagination page={page} />
    </div>
  </section>
</Layout>
