---
/**TODO :
 * - the link are hard prefixed. I need to find a way to get the base url.
 * - this pagination should bee in the footer
 *
 */
import type { Page } from "astro"

interface Props {
  page: Page
}

const { page } = Astro.props
const pageNums = Array.from({ length: page.lastPage }, (_, i) => i + 1)
---

{
  page.lastPage > 1 && (
    <nav
      role="navigation"
      id="pagination"
      aria-label="Pagination Navigation"
      class="flex justify-center snap-end"
    >
      {page.url.prev && (
        <a
          href={`/astroland${page.url.prev}`}
          aria-label="Goto Previous Page"
          class="border border-r-0 border-gray-300 py-2 px-3 text-center text-sm transition-all shadow-sm hover:shadow-lg text-gray-600 hover:text-gray-50 hover:bg-gray-800 hover:border-gray-800 focus:text-gray-50 focus:bg-gray-800 focus:border-gray-800 active:border-gray-800 active:text-gray-50 active:bg-gray-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          type="button"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-4 h-4"
          >
            <path
              fill-rule="evenodd"
              d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
      )}
      {pageNums.map((num) => {
        const isCurrent = num === page.currentPage
        const ariaLabel = isCurrent
          ? `Current page, page ${num} of ${page.lastPage}`
          : `Goto Page ${num}`
        return (
          <a
            href={`/astroland/painting/${num}/`}
            aria-label={ariaLabel}
            aria-current={isCurrent ? "page" : "false"}
            class="aria-[current=false]:hidden md:aria-[current=false]:inline aria-[current=page]:text-gray-50 aria-[current=page]:bg-gray-800 aria-[current=page]:border-gray-800 rounded-md rounded-r-none rounded-l-none border border-r-0 border-gray-300 py-2 px-3 text-center text-sm transition-all shadow-sm hover:shadow-lg text-gray-600 hover:text-gray-50 hover:bg-gray-800 hover:border-gray-800 focus:text-gray-50 focus:bg-gray-800 focus:border-gray-800 active:border-gray-800 active:text-gray-50 active:bg-gray-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
            type="button"
          >
            {num}
          </a>
        )
      })}
      {page.url.next && (
        <a
          href={`/astroland${page.url.next}`}
          aria-label="Goto Next Page"
          class="border border-gray-300 py-2 px-3 text-center text-sm transition-all shadow-sm hover:shadow-lg text-gray-600 hover:text-gray-50 hover:bg-gray-800 hover:border-gray-800 focus:text-gray-50 focus:bg-gray-800 focus:border-gray-800 active:border-gray-800 active:text-gray-50 active:bg-gray-800 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          type="button"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="w-4 h-4"
          >
            <path
              fill-rule="evenodd"
              d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
      )}
    </nav>
  )
}
