---
interface Props {
  id: string
  filename: string
  title: string
  year: number
  height: number
  width: number
  slug: string
  visible: boolean
  featured: boolean
  imageWidth: number
  imageHeight: number
  thumbnailWidth: number
  thumbnailHeight: number
  imageBlurhash: string
  squareBlurhash: string
  order: number
}

const {
  id,
  filename,
  title,
  year,
  height,
  width,
  slug,
  visible,
  featured,
  imageWidth,
  imageHeight,
  thumbnailWidth,
  thumbnailHeight,
  imageBlurhash,
  squareBlurhash,
  order,
} = Astro.props
---

<div data-id={id} data-visible={visible} data-featured={featured} data-order={order}>
  <h2>{title}</h2>
  <img
    class="image"
    src={`/paintings/square/${filename}`}
    alt={title}
    width={imageWidth}
    height={imageHeight}
    loading="lazy"
  />
</div>
