---
import Layout from "../../layouts/Layout.astro"
import { getCollection } from "astro:content"

const paintingsCollection = await getCollection("paintings")
const paintings = paintingsCollection
  .map((painting) => painting.data)
  .sort((a, b) => b.year - a.year)
---

<Layout title="Roland Potin Eizner - Paintings.">
  <main>
    <div role="list">
      {
        paintings.map((painting) => (
          <a href={`/sleepy-star/paintings/${painting.slug}`}>
            <h2>{painting.title}</h2>
            <p>{painting.year}</p>
            <img
              src={`/sleepy-star/paintings/square/${painting.filename}`}
              alt={painting.title}
              height={painting.thumbnailHeight}
              width={painting.thumbnailWidth}
            />
          </a>
        ))
      }
    </div>
  </main>
</Layout>
