---
import { routes } from "#constants/routes.ts";
import { cn } from "#lib/utils.ts";

const { pathname } = new URL(Astro.request.url);
---

<header role="banner" class="bg-gray-200 px-2 py-3 md:px-8 md:py-4 xl:py-5">
  <nav
    role="navigation"
    class="container mx-auto flex items-center justify-center gap-4 md:justify-between md:gap-5 lg:gap-6 xl:gap-7 2xl:gap-8"
  >
    <a
      title="Aller à la page d'accueil"
      href={routes.home.href}
      class="font-daniel text-3xl font-bold hover:text-gray-900 xl:text-4xl"
      aria-label="Aller à la page d'accueil"
    >
      Roland Potin Eizner
    </a>
    <ul
      aria-label="Menu"
      class="fixed right-0 bottom-0 left-0 z-50 flex w-auto items-center justify-around gap-6 bg-gray-200 py-3 shadow md:static md:justify-between md:border-none md:bg-transparent md:py-0 md:shadow-none lg:gap-7 2xl:gap-8"
    >
      {
        Object.values(routes).map((route) => {
          const isCurrent = pathname.split("/")[1] === route.href.split("/")[1];
          return (
            <li>
              <a
                href={route.href}
                aria-label={`Aller à la page: ${route.text}`}
                title={`Aller à la page: ${route.text}`}
                aria-current={isCurrent ? "page" : "false"}
                class={cn("text-sm hover:text-gray-900 md:text-base lg:text-lg xl:text-xl 2xl:text-2xl", {
                  "text-gray-950": isCurrent,
                  "text-gray-600": !isCurrent,
                })}
              >
                {route.text}
              </a>
            </li>
          );
        })
      }
    </ul>
  </nav>
</header>
