---
import { cn } from "#lib/utils.ts"
import type { Page } from "astro"

interface Props {
  page: Page
}

const { page } = Astro.props
const pageNums = Array.from({ length: page.lastPage }, (_, i) => i + 1)
const pageName = page.url.current.split("/")[1]
---

{
  page.lastPage > 1 && (
    <nav
      role="navigation"
      id="pagination"
      aria-label="Pagination Navigation"
      class="flex flex-wrap justify-center gap-1"
    >
      {page.url.prev && (
        <a
          href={page.url.prev}
          aria-label="Aller à la page prédédente"
          title="Aller à la page prédédente"
          class="flex items-center rounded-md border border-gray-300 bg-gray-50 px-3 py-2 text-center text-sm text-gray-600 shadow-sm transition-all hover:border-gray-800 hover:bg-gray-800 hover:text-gray-50 hover:shadow-lg focus:border-gray-800 focus:bg-gray-800 focus:text-gray-50 active:border-gray-800 active:bg-gray-800 active:text-gray-50 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          type="button"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="h-4 w-4"
            aria-label="Flêche pointant vers la gauche"
          >
            <path
              fill-rule="evenodd"
              d="M11.03 3.97a.75.75 0 0 1 0 1.06l-6.22 6.22H21a.75.75 0 0 1 0 1.5H4.81l6.22 6.22a.75.75 0 1 1-1.06 1.06l-7.5-7.5a.75.75 0 0 1 0-1.06l7.5-7.5a.75.75 0 0 1 1.06 0Z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
      )}
      {pageNums.map(pageNum => {
        const isCurrent = pageNum === page.currentPage
        const isFirst = pageNum === 1
        const isLast = pageNum === page.lastPage
        const isAdjacent = pageNum === page.currentPage - 1 || pageNum === page.currentPage + 1
        const isTwoAway = pageNum === page.currentPage - 2 || pageNum === page.currentPage + 2
        const displayNumber = isCurrent || isFirst || isLast || isAdjacent
        const displayDots = isTwoAway && !(isFirst || isLast || isCurrent || isAdjacent)
        const label = isCurrent ? `Page courante, page ${pageNum} sur ${page.lastPage}` : `Aller à la page: ${pageNum}`

        return (
          <a
            href={`/${pageName}/${pageNum}`}
            aria-label={label}
            aria-current={isCurrent ? "page" : "false"}
            title={label}
            class={cn(
              "hidden rounded-md border border-gray-300 bg-gray-50 px-3 py-2 text-center text-sm text-gray-600 shadow-sm transition-all hover:border-gray-800 hover:bg-gray-800 hover:text-gray-50 hover:shadow-lg focus:border-gray-800 focus:bg-gray-800 focus:text-gray-50 active:border-gray-800 active:bg-gray-800 active:text-gray-50",
              { "border-gray-800 bg-gray-800 text-gray-50": isCurrent },
              { inline: displayNumber || displayDots },
              { "pointer-events-none border-none px-0 opacity-50 shadow-none": displayDots }
            )}
            type="button"
          >
            {displayNumber ? pageNum : "..."}
          </a>
        )
      })}
      {page.url.next && (
        <a
          href={page.url.next}
          aria-label="Aller à la page suivante"
          title="Aller à la page suivante"
          class="flex items-center rounded-md border border-gray-300 bg-gray-50 px-3 py-2 text-center text-sm text-gray-600 shadow-sm transition-all hover:border-gray-800 hover:bg-gray-800 hover:text-gray-50 hover:shadow-lg focus:border-gray-800 focus:bg-gray-800 focus:text-gray-50 active:border-gray-800 active:bg-gray-800 active:text-gray-50 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
          type="button"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="h-4 w-4"
            aria-label="Flêche pointant vers la droite"
          >
            <path
              fill-rule="evenodd"
              d="M12.97 3.97a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 1 1-1.06-1.06l6.22-6.22H3a.75.75 0 0 1 0-1.5h16.19l-6.22-6.22a.75.75 0 0 1 0-1.06Z"
              clip-rule="evenodd"
            />
          </svg>
        </a>
      )}
    </nav>
  )
}
