---
import type { ImageMetadata } from "astro"
import { Picture } from "astro:assets"

interface Props {
  painting: {
    title: string
    year: number
    filename: string
    width: number
    height: number
    slug: string
  }
  next?: {
    title: string
    slug: string
  }
  previous?: {
    title: string
    slug: string
  }
}

const { painting, next, previous } = Astro.props
const { title, year, width, height, filename, slug } = painting
const imagePath = `/src/assets/paintings/normal/${filename}`
const images = import.meta.glob<{ default: ImageMetadata }>(
  `/src/assets/paintings/normal/*.{jpeg,jpg,png,gif}`
)
if (!images[imagePath]) {
  throw new Error(
    `"${imagePath}" does not exist in glob: "/src/assets/paintings/normal/*.{jpeg,jpg,png,gif}"`
  )
}
---

<article
  id={slug}
  class="grid md:grid-cols-2 min-h-screen py-32 md:py-52 justify-items-center md:items-center snap-start snap-always"
>
  <Picture src={images[imagePath]()} formats={["avif", "webp"]} alt={title} />
  <header>
    <h2 class="text-2xl md:mb-8 md:text-4xl text-center">{title}</h2>
    <p class="flex flex-row gap-2">
      <span class="text-right tracking-widest text-amber-900 basis-full">Année:</span>
      <span class="basis-full text-left"><time datetime={String(year)}>{year}</time></span>
    </p>
    <p class="flex flex-row gap-2">
      <span class="text-right tracking-widest text-amber-900 basis-full">Hauteur:</span>
      <span class="basis-full text-left">{height} cm</span>
    </p>
    <p class="flex flex-row gap-2">
      <span class="text-right tracking-widest text-amber-900 basis-full">Largeur:</span>
      <span class="basis-full text-left">{width} cm</span>
    </p>
  </header>
</article>
